body {
  background: url('../images/bg-payment.jpg') center / cover no-repeat, #000;
}

input {
  min-width: 0;
  min-height: 0;
}

.payment-main {
  font-family: var(--font-family-headings);
  padding: 70px 0 68px 230px;

  @media (--mq-md) {
    display: block;
    padding: 127px 150px 0;
  }

  @media (--mq-sm) {
    padding: 0;
  }

  &__wrap {
    display: flex;
    align-items: center;
    max-width: 950px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.3);

    @media (--mq-md) {
      flex-direction: column;
      background: none;
    }

    @media (--mq-sm) {
      padding: 0;
    }
  }
}

.payment-form-wrap {
  @media (--mq-sm) {
    max-width: 414px;
    margin: 0 auto;
  }
}

.payment-form {
  background: var(--white-color);
  max-width: 468px;
  width: 100%;
  color: #13151a;
  padding: 18px 0 9px;
  border-radius: 4px;

  @media (--mq-sm) {
    padding: 0 0 28px;
    border-radius: 0;
  }

  &__container {
    padding: 0 19px;

    @media (--mq-sm) {
      padding: 14px 13px 0;
    }
  }

  &-header {
    border: 2px solid #06a551;
    border-radius: 3px;
    padding: 16px 21px 16px 35px;
    display: flex;
    justify-content: space-between;
    background-image: url('../images/icons/check.svg');
    background-position: 14px 21px;
    background-repeat: no-repeat;
    margin-bottom: 11px;

    @media (--mq-sm) {
      padding: 11px 19px 10px 33px;
      background-position: 15px 13px;
      background-size: 14px 9px;
    }

    &__title {
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
      margin-bottom: 9px;

      @media (--mq-sm) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__rating {
      display: flex;
      align-items: center;

      &-count {
        color: #8d8d8d;
        font-size: 10px;
        line-height: 13px;
        font-weight: 600;

        @media (--mq-sm) {
          font-size: 9px;
          line-height: 12px;
        }
      }
    }

    &__stars {
      display: flex;
      margin-right: 10px;

      @media (--mq-sm) {
        margin-right: 5px;
      }
    }

    &__star {
      background-size: contain;
      background-repeat: no-repeat;
      width: 17px;
      height: 17px;

      @media (--mq-sm) {
        width: 13px;
        height: 13px;
      }

      &_filled {
        background-image: url('../images/icons/star-sharp.svg');
      }

      &_outline {
        background-image: url('../images/icons/star-sharp-black.svg');
      }
    }

    &__sum {
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
      color: #06a551;
    }
  }

  &__warning {
    font-size: 14px;
    line-height: 19px;
    font-weight: 600;
    margin: 0 0 20px;

    @media (--mq-sm) {
      max-width: 308px;
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 11px;
    }
  }

  &__separator {
    height: 2px;
    background: #e6e6e6;
    border: 0;
    margin: 0;
  }

  &__info {
    padding: 19px 19px 2px 49px;
    margin-bottom: 33px;
    font-size: 10px;
    line-height: 13px;
    background: url('../images/icons/lock2.png') 8px 11px / 38px no-repeat,
      url('../images/icons/visa.png') right 227px top 22px / 47px 24px no-repeat,
      url('../images/icons/mastercard.png') right 175px top 21px / 48px 25px
        no-repeat,
      url('../images/icons/maestro.png') right 123px top 22px / 47px 24px
        no-repeat,
      url('../images/icons/american-express.png') right 66px top 20px / 58px
        29px no-repeat,
      url('../images/icons/discover.png') right 19px top 22px / 48px 25px
        no-repeat;

    @media (--mq-sm) {
      display: none;
    }

    &-title {
      font-weight: 800;
      color: #06a551;
    }

    &-subtitle {
      font-weight: 600;
      color: #13151a;
    }
  }

  &__error {
    display: none;
    padding: 15px 0;
    background: #f0d3d5;
    border: 1px solid #da3023;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #da3023;
    margin: 0 19px 19px;

    &.active {
      display: block;
    }

    @media (--mq-md) {
      margin: 0 19px 15px;
    }

    @media (--mq-sm) {
      padding: 12px 0 11px;
      margin: 23px 13px 10px;
    }

    &.active + .payment-form__container {
      margin: 0;

      @media (--mq-md) {
        margin: 15px 0;
      }

      @media (--mq-sm) {
        margin: 12px 0;
      }
    }
  }

  &__error-message {
    max-width: 185px;
    margin: 0 auto;
  }

  &__text-field-wrap {
    display: flex;
    align-items: flex-end;

    &-column {
      width: 100%;

      & + & {
        margin-left: 16px;

        @media (--mq-sm) {
          margin-left: 20px;
        }
      }
    }

    &_name {
      @media (--mq-sm) {
        flex-direction: column;
      }
    }
  }

  &__text-field {
    padding: 12px 15px 13px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    border: 1px solid #595959;
    border-radius: 3px;
    margin-bottom: 15px;

    @media (--mq-sm) {
      background: #f3f3f3;
    }

    &_icon {
      padding: 12px 14px 14px 57px;

      @media (--mq-sm) {
        padding: 12px 14px 14px 42px;
      }
    }

    &_name {
      background-image: url('../images/icons/name.png');
      background-repeat: no-repeat;
      background-position: 16px 13px;
      background-size: 21px 15px;

      & + & {
        margin-left: 16px;
      }
    }

    &_card {
      background-image: url('../images/icons/card.png');
      background-repeat: no-repeat;
      background-position: 16px 14px;
      background-size: 21px 15px;
    }

    &_cvv {
      background-image: url('../images/icons/cvv.png');
      background-repeat: no-repeat;
      background-position: 16px 14px;
      background-size: 21px 15px;
      width: 132px;
      margin-bottom: 19px;
    }

    &::placeholder {
      color: #757575;
    }
  }

  &__text-label {
    display: block;
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    color: #040404;
    margin-bottom: 10px;
  }

  &__select-wrap {
    position: relative;

    &:after {
      content: '';
      height: 0;
      width: 0;
      border-style: solid;
      border-color: #333 transparent transparent;
      border-width: 6px;
      position: absolute;
      right: 20px;
      top: 19px;
    }
  }

  &__select {
    padding: 12px 15px 13px;
    width: 100%;
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    border: 1px solid #595959;
    border-radius: 3px;
    margin-bottom: 15px;
    appearance: none;

    @media (--mq-sm) {
      background: #f3f3f3;
    }

    &_last {
      @media (--mq-md) {
        margin-bottom: 21px;
      }

      @media (--mq-sm) {
        margin-bottom: 27px;
      }
    }
  }

  &__cvv {
    display: flex;
  }

  &__info-security-code {
    position: relative;
    top: 3px;
    max-width: 89px;
    font-size: 13px;
    line-height: 18px;
    color: #177fcf;
    text-decoration: underline;
    margin-left: 37px;

    @media (--mq-sm) {
      max-width: 100%;
      margin-left: auto;
      position: relative;
      top: 10px;
    }

    &:before {
      content: '';
      position: absolute;
      top: 14px;
      left: -23px;
      display: block;
      width: 12px;
      height: 13px;
      background-image: url('../images/icons/info.png');
      background-size: contain;

      @media (--mq-sm) {
        top: 4px;
      }
    }
  }

  &__question {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 5px;

    @media (--mq-sm) {
      max-width: 334px;
      margin: 0 auto 9px;
    }
  }

  &__answer {
    font-size: 10px;
    line-height: 13px;
    font-weight: 700;
    margin-bottom: 16px;

    @media (--mq-md) {
      max-width: 409px;
    }

    @media (--mq-sm) {
      font-size: 12px;
      line-height: 16px;
      font-weight: 400;
      max-width: 334px;
      margin: 0 auto 31px;
    }

    a {
      color: inherit;
      text-decoration: underline;
    }
  }

  &__button {
    background: #06a551;
    border: 1px solid #06a551;
    border-radius: 3px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    padding: 11px 167px 13px;
    margin-bottom: 22px;

    @media (--mq-sm) {
      padding: 11px 118px 13px;
      margin: 0 auto 15px;
    }
  }

  &__footer {
    font-size: 9px;
    line-height: 12px;
    font-weight: 600;
    color: #13151a;

    @media (--mq-sm) {
      max-width: 334px;
      margin: 0 auto;
    }
  }
}

.payment-features {
  color: var(--white-color);
  margin-left: 188px;

  @media (--mq-md) {
    flex-direction: row;
    padding-top: 50px;
    padding-bottom: 99px;
    max-width: 656px;
    margin: 0 auto;
  }

  @media (--mq-sm) {
    flex-direction: column;
    max-width: 309px;
    margin: 0 auto;
    padding-top: 71px;
    padding-bottom: 300px;
  }

  &_column {
    display: flex;
    flex-direction: column;

    @media (--mq-md) {
      display: none;
    }
  }

  &_row {
    display: none;

    @media (--mq-md) {
      display: flex;
    }
    /* display: flex; */
    /* flex-direction: column; */
  }

  &__feature {
    margin-bottom: 131px;

    @media (--mq-md) {
      margin-bottom: 0;
    }

    @media (--mq-sm) {
      margin-bottom: 45px;
    }

    &__title {
      font-size: 14px;
      line-height: 19px;
      font-weight: 700;
    }

    &__text {
      font-size: 12px;
      line-height: 16px;
      font-weight: 600;

      &_ads {
        max-width: 119px;

        @media (--mq-sm) {
          max-width: 100%;
        }
      }

      &_hd {
        max-width: 112px;

        @media (--mq-sm) {
          max-width: 100%;
        }
      }

      &_infinity {
        max-width: 132px;

        @media (--mq-sm) {
          max-width: 100%;
        }
      }
    }

    &_ads {
      display: flex;
      position: relative;
      left: -21px;

      @media (--mq-md) {
        margin-right: 86px;
      }

      @media (--mq-sm) {
        position: relative;
        left: -21px;
        margin-right: 0;
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        width: 47px;
        height: 47px;
        background-image: url('../images/icons/ads.png');
        background-size: 47px;
        position: relative;
        top: -5px;
      }
    }

    &_hd {
      display: flex;

      @media (--mq-md) {
        margin-right: 101px;
      }

      @media (--mq-sm) {
        margin-right: 0;
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        width: 28px;
        height: 26px;
        background-image: url('../images/icons/hd.png');
        background-size: 28px 26px;
        position: relative;
        left: -11px;
        top: 4px;

        @media (--mq-sm) {
          top: 5px;
        }
      }
    }

    &_infinity {
      display: flex;

      @media (--mq-sm) {
        z-index: 1;
      }

      &:before {
        content: '';
        display: block;
        width: 27px;
        height: 12px;
        background-image: url('../images/icons/infinity.png');
        background-size: 27px 12px;
        position: relative;
        left: -11px;
        top: 11px;

        @media (--mq-sm) {
          top: 10px;
        }
      }
    }
  }
}

.payment-bg-mobile {
  display: none;

  @media (max-width: 414px) {
    background: url('../images/bg-payment-mobile.jpg') 0 / cover no-repeat;
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
  }
}
